<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress>
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/iconos/html.png'"
            [title]="HTML"
            [showUnits]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress>
            [percent]="85"
            [radius]="100"
            [iamgeSrc]="'../assets/iconos/css.png'"
            [title]="CSS"
            [showUnits]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
        </circle-progress>
    </div>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress>
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/iconos/js.png'"
            [title]="JS"
            [showUnits]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
        </circle-progress>
    </div>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress>
            [percent]="85"
            [radius]="100"
            [iamgeSrc]="'../assets/iconos/github.png'"
            [title]=""
            [showUnits]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
        </circle-progress>
    </div>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress>
            [percent]="99"
            [radius]="100"
            [imageSrc]="'../assets/iconos/eng.png'"
            [title]="HTML"
            [showUnits]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
        </circle-progress>
    </div>
    <circle-progress>
        [percent]="100"
        [radius]="100"
        [imageSrc]="'../assets/iconos/grupal.png'"
        [title]=""
        [showUnits]="true"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
    </circle-progress>
</div>
