<div class="row">
    <div class="container">
        <div class="logo">      
            <img src="../../../assets/aplogo.jpeg" id="logoap">          
        </div>
        <div class="redes">
            <div>
                <a href=""><img src="../../../assets/instagram.png" id="instagram"></a>
                <a href=""><img src="../../../assets/linkedinn.jpg" id="linkedin"></a>
                <a href=""><img src="../../../assets/gmaill.jpg" id="gmail"></a>
                <a href=""><img src="../../../assets/facebook.png" id="facebook"></a>
                <a href=""><img src="" alt=""></a>
                <button type="button" class="btn btn-outline-light"></button>
            </div>
        </div>
    </div>
</div>


