.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.redes{
    margin-right: 0.5em;
}
#logoap{
    width:150px;
}
img{ 
    width: 50px;
}
.btn{
    border-width:medium;
}
/*Para lista celular*/
@media (max-width:575px){
.conatainer{
    flex-direction:column;
}
.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redes{
    margin:0.2em;
}
}