<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Stefano Roberto Giovanoni</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Asperiores, perferendis 
              atque. Repellat maxime reiciendis minus 
              cupiditate adipisci numquam amet natus? 
              Hic corporis incidunt, numquam assumenda 
              recusandae possimus similique libero 
              perferendis.</p>
        </span>
    </div>
</div>
